.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 170px;
}

.navMenu{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 18px;
    cursor: pointer;
}

.navConnect{
    padding: 17px 30px;
    border-radius: 50px;
    background: linear-gradient(26deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 17px;
    cursor: pointer;
    transition: transform 0.5s;
}

.navConnect:hover{
    transform: scale(1.05);
}

.navMenu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.navMenu li img{
    display: flex;
    margin: auto;
}
.anchor_link{
    text-decoration: none;
    color: #fff;
}

.navMobClose{
    display: none;
}

.navMobOpen{
    display: none;
}

@media(max-width:768px){
 .navbar{
    margin: 20px 50px;
 }

 .navConnect{
    display: none;
 }

 .navMobOpen{
    display: block;
    position: fixed;
    cursor: pointer;
    right: 30px;
    z-index: 100;
 }

 .navMobClose{
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;
    cursor: pointer;
 }

 .navMenu{
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #1F0016;
    width: 350px;
    right: -350px;
    height: 100vh;
    z-index: 2;
    transition: right 0.5s;
    z-index: 100;
 }

 .navMenu li{
    font-size: 25px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
 }
}